@charset "UTF-8";

@font-face {
  font-family: "linea";
  src:url("fonts/linea.eot");
  src:url("fonts/linea.eot?#iefix") format("embedded-opentype"),
    url("fonts/linea.woff") format("woff"),
    url("fonts/linea.ttf") format("truetype"),
    url("fonts/linea.svg#linea") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "linea" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "linea" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basic-accelerator:before {
  content: "a";
}
.icon-basic-alarm:before {
  content: "b";
}
.icon-basic-anchor:before {
  content: "c";
}
.icon-basic-anticlockwise:before {
  content: "d";
}
.icon-basic-archive:before {
  content: "e";
}
.icon-basic-archive-full:before {
  content: "f";
}
.icon-basic-ban:before {
  content: "g";
}
.icon-basic-battery-charge:before {
  content: "h";
}
.icon-basic-battery-empty:before {
  content: "i";
}
.icon-basic-battery-full:before {
  content: "j";
}
.icon-basic-battery-half:before {
  content: "k";
}
.icon-basic-bolt:before {
  content: "l";
}
.icon-basic-book:before {
  content: "m";
}
.icon-basic-book-pen:before {
  content: "n";
}
.icon-basic-book-pencil:before {
  content: "o";
}
.icon-basic-bookmark:before {
  content: "p";
}
.icon-basic-calculator:before {
  content: "q";
}
.icon-basic-calendar:before {
  content: "r";
}
.icon-basic-cards-diamonds:before {
  content: "s";
}
.icon-basic-cards-hearts:before {
  content: "t";
}
.icon-basic-case:before {
  content: "u";
}
.icon-basic-chronometer:before {
  content: "v";
}
.icon-basic-clessidre:before {
  content: "w";
}
.icon-basic-clock:before {
  content: "x";
}
.icon-basic-clockwise:before {
  content: "y";
}
.icon-basic-cloud:before {
  content: "z";
}
.icon-basic-clubs:before {
  content: "A";
}
.icon-basic-compass:before {
  content: "B";
}
.icon-basic-cup:before {
  content: "C";
}
.icon-basic-diamonds:before {
  content: "D";
}
.icon-basic-display:before {
  content: "E";
}
.icon-basic-download:before {
  content: "F";
}
.icon-basic-exclamation:before {
  content: "G";
}
.icon-basic-eye:before {
  content: "H";
}
.icon-basic-eye-closed:before {
  content: "I";
}
.icon-basic-female:before {
  content: "J";
}
.icon-basic-flag1:before {
  content: "K";
}
.icon-basic-flag2:before {
  content: "L";
}
.icon-basic-floppydisk:before {
  content: "M";
}
.icon-basic-folder:before {
  content: "N";
}
.icon-basic-folder-multiple:before {
  content: "O";
}
.icon-basic-gear:before {
  content: "P";
}
.icon-basic-geolocalize-01:before {
  content: "Q";
}
.icon-basic-geolocalize-05:before {
  content: "R";
}
.icon-basic-globe:before {
  content: "S";
}
.icon-basic-gunsight:before {
  content: "T";
}
.icon-basic-hammer:before {
  content: "U";
}
.icon-basic-headset:before {
  content: "V";
}
.icon-basic-heart:before {
  content: "W";
}
.icon-basic-heart-broken:before {
  content: "X";
}
.icon-basic-helm:before {
  content: "Y";
}
.icon-basic-home:before {
  content: "Z";
}
.icon-basic-info:before {
  content: "0";
}
.icon-basic-ipod:before {
  content: "1";
}
.icon-basic-joypad:before {
  content: "2";
}
.icon-basic-key:before {
  content: "3";
}
.icon-basic-keyboard:before {
  content: "4";
}
.icon-basic-laptop:before {
  content: "5";
}
.icon-basic-life-buoy:before {
  content: "6";
}
.icon-basic-lightbulb:before {
  content: "7";
}
.icon-basic-link:before {
  content: "8";
}
.icon-basic-lock:before {
  content: "9";
}
.icon-basic-lock-open:before {
  content: "!";
}
.icon-basic-magic-mouse:before {
  content: "\"";
}
.icon-basic-magnifier:before {
  content: "#";
}
.icon-basic-magnifier-minus:before {
  content: "$";
}
.icon-basic-magnifier-plus:before {
  content: "%";
}
.icon-basic-mail:before {
  content: "&";
}
.icon-basic-mail-multiple:before {
  content: "'";
}
.icon-basic-mail-open:before {
  content: "(";
}
.icon-basic-mail-open-text:before {
  content: ")";
}
.icon-basic-male:before {
  content: "*";
}
.icon-basic-map:before {
  content: "+";
}
.icon-basic-message:before {
  content: ",";
}
.icon-basic-message-multiple:before {
  content: "-";
}
.icon-basic-message-txt:before {
  content: ".";
}
.icon-basic-mixer2:before {
  content: "/";
}
.icon-basic-mouse:before {
  content: ":";
}
.icon-basic-notebook:before {
  content: ";";
}
.icon-basic-notebook-pen:before {
  content: "<";
}
.icon-basic-notebook-pencil:before {
  content: "=";
}
.icon-basic-paperplane:before {
  content: ">";
}
.icon-basic-pencil-ruler:before {
  content: "?";
}
.icon-basic-pencil-ruler-pen:before {
  content: "@";
}
.icon-basic-photo:before {
  content: "[";
}
.icon-basic-picture:before {
  content: "]";
}
.icon-basic-picture-multiple:before {
  content: "^";
}
.icon-basic-pin1:before {
  content: "_";
}
.icon-basic-pin2:before {
  content: "`";
}
.icon-basic-postcard:before {
  content: "{";
}
.icon-basic-postcard-multiple:before {
  content: "|";
}
.icon-basic-printer:before {
  content: "}";
}
.icon-basic-question:before {
  content: "~";
}
.icon-basic-rss:before {
  content: "\\";
}
.icon-basic-server:before {
  content: "\e000";
}
.icon-basic-server2:before {
  content: "\e001";
}
.icon-basic-server-cloud:before {
  content: "\e002";
}
.icon-basic-server-download:before {
  content: "\e003";
}
.icon-basic-server-upload:before {
  content: "\e004";
}
.icon-basic-settings:before {
  content: "\e005";
}
.icon-basic-share:before {
  content: "\e006";
}
.icon-basic-sheet:before {
  content: "\e007";
}
.icon-basic-sheet-multiple:before {
  content: "\e008";
}
.icon-basic-sheet-pen:before {
  content: "\e009";
}
.icon-basic-sheet-pencil:before {
  content: "\e00a";
}
.icon-basic-sheet-txt:before {
  content: "\e00b";
}
.icon-basic-signs:before {
  content: "\e00c";
}
.icon-basic-smartphone:before {
  content: "\e00d";
}
.icon-basic-spades:before {
  content: "\e00e";
}
.icon-basic-spread:before {
  content: "\e00f";
}
.icon-basic-spread-bookmark:before {
  content: "\e010";
}
.icon-basic-spread-text:before {
  content: "\e011";
}
.icon-basic-spread-text-bookmark:before {
  content: "\e012";
}
.icon-basic-star:before {
  content: "\e013";
}
.icon-basic-tablet:before {
  content: "\e014";
}
.icon-basic-target:before {
  content: "\e015";
}
.icon-basic-todo:before {
  content: "\e016";
}
.icon-basic-todo-pen:before {
  content: "\e017";
}
.icon-basic-todo-pencil:before {
  content: "\e018";
}
.icon-basic-todo-txt:before {
  content: "\e019";
}
.icon-basic-todolist-pen:before {
  content: "\e01a";
}
.icon-basic-todolist-pencil:before {
  content: "\e01b";
}
.icon-basic-trashcan:before {
  content: "\e01c";
}
.icon-basic-trashcan-full:before {
  content: "\e01d";
}
.icon-basic-trashcan-refresh:before {
  content: "\e01e";
}
.icon-basic-trashcan-remove:before {
  content: "\e01f";
}
.icon-basic-upload:before {
  content: "\e020";
}
.icon-basic-usb:before {
  content: "\e021";
}
.icon-basic-video:before {
  content: "\e022";
}
.icon-basic-watch:before {
  content: "\e023";
}
.icon-basic-webpage:before {
  content: "\e024";
}
.icon-basic-webpage-img-txt:before {
  content: "\e025";
}
.icon-basic-webpage-multiple:before {
  content: "\e026";
}
.icon-basic-webpage-txt:before {
  content: "\e027";
}
.icon-basic-world:before {
  content: "\e028";
}
.icon-ecommerce-bag:before {
  content: "\e029";
}
.icon-ecommerce-bag-check:before {
  content: "\e02a";
}
.icon-ecommerce-bag-cloud:before {
  content: "\e02b";
}
.icon-ecommerce-bag-download:before {
  content: "\e02c";
}
.icon-ecommerce-bag-minus:before {
  content: "\e02d";
}
.icon-ecommerce-bag-plus:before {
  content: "\e02e";
}
.icon-ecommerce-bag-refresh:before {
  content: "\e02f";
}
.icon-ecommerce-bag-remove:before {
  content: "\e030";
}
.icon-ecommerce-bag-search:before {
  content: "\e031";
}
.icon-ecommerce-bag-upload:before {
  content: "\e032";
}
.icon-ecommerce-banknote:before {
  content: "\e033";
}
.icon-ecommerce-banknotes:before {
  content: "\e034";
}
.icon-ecommerce-basket:before {
  content: "\e035";
}
.icon-ecommerce-basket-check:before {
  content: "\e036";
}
.icon-ecommerce-basket-cloud:before {
  content: "\e037";
}
.icon-ecommerce-basket-download:before {
  content: "\e038";
}
.icon-ecommerce-basket-minus:before {
  content: "\e039";
}
.icon-ecommerce-basket-plus:before {
  content: "\e03a";
}
.icon-ecommerce-basket-refresh:before {
  content: "\e03b";
}
.icon-ecommerce-basket-remove:before {
  content: "\e03c";
}
.icon-ecommerce-basket-search:before {
  content: "\e03d";
}
.icon-ecommerce-basket-upload:before {
  content: "\e03e";
}
.icon-ecommerce-bath:before {
  content: "\e03f";
}
.icon-ecommerce-cart:before {
  content: "\e040";
}
.icon-ecommerce-cart-check:before {
  content: "\e041";
}
.icon-ecommerce-cart-cloud:before {
  content: "\e042";
}
.icon-ecommerce-cart-content:before {
  content: "\e043";
}
.icon-ecommerce-cart-download:before {
  content: "\e044";
}
.icon-ecommerce-cart-minus:before {
  content: "\e045";
}
.icon-ecommerce-cart-plus:before {
  content: "\e046";
}
.icon-ecommerce-cart-refresh:before {
  content: "\e047";
}
.icon-ecommerce-cart-remove:before {
  content: "\e048";
}
.icon-ecommerce-cart-search:before {
  content: "\e049";
}
.icon-ecommerce-cart-upload:before {
  content: "\e04a";
}
.icon-ecommerce-cent:before {
  content: "\e04b";
}
.icon-ecommerce-colon:before {
  content: "\e04c";
}
.icon-ecommerce-creditcard:before {
  content: "\e04d";
}
.icon-ecommerce-diamond:before {
  content: "\e04e";
}
.icon-ecommerce-dollar:before {
  content: "\e04f";
}
.icon-ecommerce-euro:before {
  content: "\e050";
}
.icon-ecommerce-franc:before {
  content: "\e051";
}
.icon-ecommerce-gift:before {
  content: "\e052";
}
.icon-ecommerce-graph1:before {
  content: "\e053";
}
.icon-ecommerce-graph2:before {
  content: "\e054";
}
.icon-ecommerce-graph3:before {
  content: "\e055";
}
.icon-ecommerce-graph-decrease:before {
  content: "\e056";
}
.icon-ecommerce-graph-increase:before {
  content: "\e057";
}
.icon-ecommerce-guarani:before {
  content: "\e058";
}
.icon-ecommerce-kips:before {
  content: "\e059";
}
.icon-ecommerce-lira:before {
  content: "\e05a";
}
.icon-ecommerce-megaphone:before {
  content: "\e05b";
}
.icon-ecommerce-money:before {
  content: "\e05c";
}
.icon-ecommerce-naira:before {
  content: "\e05d";
}
.icon-ecommerce-pesos:before {
  content: "\e05e";
}
.icon-ecommerce-pound:before {
  content: "\e05f";
}
.icon-ecommerce-receipt:before {
  content: "\e060";
}
.icon-ecommerce-receipt-bath:before {
  content: "\e061";
}
.icon-ecommerce-receipt-cent:before {
  content: "\e062";
}
.icon-ecommerce-receipt-dollar:before {
  content: "\e063";
}
.icon-ecommerce-receipt-euro:before {
  content: "\e064";
}
.icon-ecommerce-receipt-franc:before {
  content: "\e065";
}
.icon-ecommerce-receipt-guarani:before {
  content: "\e066";
}
.icon-ecommerce-receipt-kips:before {
  content: "\e067";
}
.icon-ecommerce-receipt-lira:before {
  content: "\e068";
}
.icon-ecommerce-receipt-naira:before {
  content: "\e069";
}
.icon-ecommerce-receipt-pesos:before {
  content: "\e06a";
}
.icon-ecommerce-receipt-pound:before {
  content: "\e06b";
}
.icon-ecommerce-receipt-rublo:before {
  content: "\e06c";
}
.icon-ecommerce-receipt-rupee:before {
  content: "\e06d";
}
.icon-ecommerce-receipt-tugrik:before {
  content: "\e06e";
}
.icon-ecommerce-receipt-won:before {
  content: "\e06f";
}
.icon-ecommerce-receipt-yen:before {
  content: "\e070";
}
.icon-ecommerce-receipt-yen2:before {
  content: "\e071";
}
.icon-ecommerce-recept-colon:before {
  content: "\e072";
}
.icon-ecommerce-rublo:before {
  content: "\e073";
}
.icon-ecommerce-rupee:before {
  content: "\e074";
}
.icon-ecommerce-safe:before {
  content: "\e075";
}
.icon-ecommerce-sale:before {
  content: "\e076";
}
.icon-ecommerce-sales:before {
  content: "\e077";
}
.icon-ecommerce-ticket:before {
  content: "\e078";
}
.icon-ecommerce-tugriks:before {
  content: "\e079";
}
.icon-ecommerce-wallet:before {
  content: "\e07a";
}
.icon-ecommerce-won:before {
  content: "\e07b";
}
.icon-ecommerce-yen:before {
  content: "\e07c";
}
.icon-ecommerce-yen2:before {
  content: "\e07d";
}
.icon-music-beginning-button:before {
  content: "\e029";
}
.icon-music-bell:before {
  content: "\e02a";
}
.icon-music-cd:before {
  content: "\e02b";
}
.icon-music-diapason:before {
  content: "\e02c";
}
.icon-music-eject-button:before {
  content: "\e02d";
}
.icon-music-end-button:before {
  content: "\e02e";
}
.icon-music-fastforward-button:before {
  content: "\e02f";
}
.icon-music-headphones:before {
  content: "\e030";
}
.icon-music-ipod:before {
  content: "\e031";
}
.icon-music-loudspeaker:before {
  content: "\e032";
}
.icon-music-microphone:before {
  content: "\e033";
}
.icon-music-microphone-old:before {
  content: "\e034";
}
.icon-music-mixer:before {
  content: "\e035";
}
.icon-music-mute:before {
  content: "\e036";
}
.icon-music-note-multiple:before {
  content: "\e037";
}
.icon-music-note-single:before {
  content: "\e038";
}
.icon-music-pause-button:before {
  content: "\e039";
}
.icon-music-play-button:before {
  content: "\e03a";
}
.icon-music-playlist:before {
  content: "\e03b";
}
.icon-music-radio-ghettoblaster:before {
  content: "\e03c";
}
.icon-music-radio-portable:before {
  content: "\e03d";
}
.icon-music-record:before {
  content: "\e03e";
}
.icon-music-recordplayer:before {
  content: "\e03f";
}
.icon-music-repeat-button:before {
  content: "\e040";
}
.icon-music-rewind-button:before {
  content: "\e041";
}
.icon-music-shuffle-button:before {
  content: "\e042";
}
.icon-music-stop-button:before {
  content: "\e043";
}
.icon-music-tape:before {
  content: "\e044";
}
.icon-music-volume-down:before {
  content: "\e045";
}
.icon-music-volume-up:before {
  content: "\e046";
}
.icon-ecommerce-bag:before {
  content: "\e047";
}
.icon-ecommerce-bag-check:before {
  content: "\e048";
}
.icon-ecommerce-bag-cloud:before {
  content: "\e049";
}
.icon-ecommerce-bag-download:before {
  content: "\e04a";
}
.icon-ecommerce-bag-minus:before {
  content: "\e04b";
}
.icon-ecommerce-bag-plus:before {
  content: "\e04c";
}
.icon-ecommerce-bag-refresh:before {
  content: "\e04d";
}
.icon-ecommerce-bag-remove:before {
  content: "\e04e";
}
.icon-ecommerce-bag-search:before {
  content: "\e04f";
}
.icon-ecommerce-bag-upload:before {
  content: "\e050";
}
.icon-ecommerce-banknote:before {
  content: "\e051";
}
.icon-ecommerce-banknotes:before {
  content: "\e052";
}
.icon-ecommerce-basket:before {
  content: "\e053";
}
.icon-ecommerce-basket-check:before {
  content: "\e054";
}
.icon-ecommerce-basket-cloud:before {
  content: "\e055";
}
.icon-ecommerce-basket-download:before {
  content: "\e056";
}
.icon-ecommerce-basket-minus:before {
  content: "\e057";
}
.icon-ecommerce-basket-plus:before {
  content: "\e058";
}
.icon-ecommerce-basket-refresh:before {
  content: "\e059";
}
.icon-ecommerce-basket-remove:before {
  content: "\e05a";
}
.icon-ecommerce-basket-search:before {
  content: "\e05b";
}
.icon-ecommerce-basket-upload:before {
  content: "\e05c";
}
.icon-ecommerce-bath:before {
  content: "\e05d";
}
.icon-ecommerce-cart:before {
  content: "\e05e";
}
.icon-ecommerce-cart-check:before {
  content: "\e05f";
}
.icon-ecommerce-cart-cloud:before {
  content: "\e060";
}
.icon-ecommerce-cart-content:before {
  content: "\e061";
}
.icon-ecommerce-cart-download:before {
  content: "\e062";
}
.icon-ecommerce-cart-minus:before {
  content: "\e063";
}
.icon-ecommerce-cart-plus:before {
  content: "\e064";
}
.icon-ecommerce-cart-refresh:before {
  content: "\e065";
}
.icon-ecommerce-cart-remove:before {
  content: "\e066";
}
.icon-ecommerce-cart-search:before {
  content: "\e067";
}
.icon-ecommerce-cart-upload:before {
  content: "\e068";
}
.icon-ecommerce-cent:before {
  content: "\e069";
}
.icon-ecommerce-colon:before {
  content: "\e06a";
}
.icon-ecommerce-creditcard:before {
  content: "\e06b";
}
.icon-ecommerce-diamond:before {
  content: "\e06c";
}
.icon-ecommerce-dollar:before {
  content: "\e06d";
}
.icon-ecommerce-euro:before {
  content: "\e06e";
}
.icon-ecommerce-franc:before {
  content: "\e06f";
}
.icon-ecommerce-gift:before {
  content: "\e070";
}
.icon-ecommerce-graph1:before {
  content: "\e071";
}
.icon-ecommerce-graph2:before {
  content: "\e072";
}
.icon-ecommerce-graph3:before {
  content: "\e073";
}
.icon-ecommerce-graph-decrease:before {
  content: "\e074";
}
.icon-ecommerce-graph-increase:before {
  content: "\e075";
}
.icon-ecommerce-guarani:before {
  content: "\e076";
}
.icon-ecommerce-kips:before {
  content: "\e077";
}
.icon-ecommerce-lira:before {
  content: "\e078";
}
.icon-ecommerce-megaphone:before {
  content: "\e079";
}
.icon-ecommerce-money:before {
  content: "\e07a";
}
.icon-ecommerce-naira:before {
  content: "\e07b";
}
.icon-ecommerce-pesos:before {
  content: "\e07c";
}
.icon-ecommerce-pound:before {
  content: "\e07d";
}
.icon-ecommerce-receipt:before {
  content: "\e07e";
}
.icon-ecommerce-receipt-bath:before {
  content: "\e07f";
}
.icon-ecommerce-receipt-cent:before {
  content: "\e080";
}
.icon-ecommerce-receipt-dollar:before {
  content: "\e081";
}
.icon-ecommerce-receipt-euro:before {
  content: "\e082";
}
.icon-ecommerce-receipt-franc:before {
  content: "\e083";
}
.icon-ecommerce-receipt-guarani:before {
  content: "\e084";
}
.icon-ecommerce-receipt-kips:before {
  content: "\e085";
}
.icon-ecommerce-receipt-lira:before {
  content: "\e086";
}
.icon-ecommerce-receipt-naira:before {
  content: "\e087";
}
.icon-ecommerce-receipt-pesos:before {
  content: "\e088";
}
.icon-ecommerce-receipt-pound:before {
  content: "\e089";
}
.icon-ecommerce-receipt-rublo:before {
  content: "\e08a";
}
.icon-ecommerce-receipt-rupee:before {
  content: "\e08b";
}
.icon-ecommerce-receipt-tugrik:before {
  content: "\e08c";
}
.icon-ecommerce-receipt-won:before {
  content: "\e08d";
}
.icon-ecommerce-receipt-yen:before {
  content: "\e08e";
}
.icon-ecommerce-receipt-yen2:before {
  content: "\e08f";
}
.icon-ecommerce-recept-colon:before {
  content: "\e090";
}
.icon-ecommerce-rublo:before {
  content: "\e091";
}
.icon-ecommerce-rupee:before {
  content: "\e092";
}
.icon-ecommerce-safe:before {
  content: "\e093";
}
.icon-ecommerce-sale:before {
  content: "\e094";
}
.icon-ecommerce-sales:before {
  content: "\e095";
}
.icon-ecommerce-ticket:before {
  content: "\e096";
}
.icon-ecommerce-tugriks:before {
  content: "\e097";
}
.icon-ecommerce-wallet:before {
  content: "\e098";
}
.icon-ecommerce-won:before {
  content: "\e099";
}
.icon-ecommerce-yen:before {
  content: "\e09a";
}
.icon-ecommerce-yen2:before {
  content: "\e09b";
}

/*
0 - 600px:     Phone
600 - 900px:   Tablet portrait
900 - 1200px:  Tablet landscape
1200 - 1800px:  Desktop
1800+ px:       Big desktop

$breakpoint argument documentation:
- phone = 0 - 600 px;
- tab-port = 600 - 900 px;
- tab-land = 900 - 1200 px;
- big-desktop = 1800+ px.

1em = 16px

ORDER: Base + Typography > General layout + Grid > Page layout > Components 
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  70% {
    transform: translateX(1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  70% {
    transform: translateX(-1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #55c57a;
  color: #fff; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  box-sizing: border-box; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 8rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 5rem;
        letter-spacing: 1rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        font-size: 1.5rem;
        letter-spacing: .5rem; } }

.heading-secondary {
  display: inline-block;
  font-size: 3.8rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all .2s; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(1deg) skewX(5deg) scale(1.1);
    text-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2); }
  .heading-secondary--2 {
    background-image: none;
    background-color: #55c57a;
    color: #fff;
    -webkit-background-clip: border-box;
    background-clip: border-box; }

.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.8rem;
  font-weight: 500; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-mb-7 {
  margin-bottom: 7rem; }
  @media only screen and (max-width: 56.25em) {
    .u-mb-7 {
      margin-bottom: 5rem; } }

.u-mb-4 {
  margin-bottom: 4rem; }
  @media only screen and (max-width: 56.25em) {
    .u-mb-4 {
      margin-bottom: 3rem; } }

.u-mb-1 {
  margin-bottom: 1.5rem; }

.u-mt-2 {
  margin-top: 2rem; }

.u-mt-5 {
  margin-top: 5rem; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 1.5rem 3rem;
  border-radius: 10rem;
  transition: all .2s;
  border: 0;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #55c57a;
  color: #f7f7f7; }
  .btn--green::after {
    background-color: #55c57a; }

.btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom 1s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  display: inline-block;
  font-size: 1.8rem;
  color: #55c57a;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: .3rem;
  transition: all .2s; }

.btn-text:hover {
  color: #fff;
  background-color: #55c57a;
  transform: translateY(-0.2rem);
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.2); }

.btn-text:active {
  transform: translateY(0);
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.3); }

.composition {
  position: relative; }
  .composition__photo {
    width: 60%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: .2rem;
    position: absolute;
    transition: all .2s;
    z-index: 10;
    outline-offset: 1.5rem; }
    @media only screen and (max-width: 56.25em) {
      .composition__photo {
        position: relative;
        float: left;
        width: 33.333333%;
        box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.3);
        outline-offset: 1rem; } }
    .composition__photo--1 {
      left: 0;
      top: 0; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--1 {
          top: 0; } }
    .composition__photo--2 {
      right: 0;
      top: 4rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--2 {
          top: 0;
          transform: scale(1.3);
          z-index: 100; } }
    .composition__photo--3 {
      left: 10%;
      top: 12rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--3 {
          left: 0;
          top: 0; } }
    .composition__photo:hover {
      outline: 1.5rem solid #55c57a;
      transform: scale(1.05) translateY(0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo:hover {
          top: 0;
          transform: scale(1.3);
          z-index: 120;
          outline: 1rem solid #55c57a; } }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  text-align: center;
  padding: 2.5rem;
  border-radius: .3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  @media only screen and (max-width: 56.25em) {
    .feature-box {
      padding: 2rem; } }
  .feature-box__icon {
    font-size: 6rem;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.3rem) scale(1.03); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__side {
    transition: all 1s ease;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 52rem;
    backface-visibility: hidden; }
    .card__side--front {
      background-color: #fff;
      overflow: hidden; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("../img/nat-5.jpg"); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url("../img/nat-6.jpg"); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url("../img/nat-7.jpg"); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    text-align: right;
    width: 75%;
    position: absolute;
    top: 12rem;
    right: 2rem; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 3rem; }
  .card__list {
    list-style: none;
    width: 80%;
    margin: 0 auto;
    font-size: 1.5rem; }
  .card__item {
    padding: 1rem;
    text-align: center; }
    .card__item:not(:last-child) {
      border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    color: #fff; }
  .card__price-only {
    text-transform: uppercase;
    font-size: 1.6rem; }
  .card__price-value {
    font-weight: 100;
    font-size: 6rem; }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .card {
      height: auto;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side {
        position: relative;
        width: 100%;
        height: auto;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__details {
        padding: 1rem; }
      .card__cta {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 4rem 0 2rem 0; }
      .card__price-only {
        text-transform: uppercase;
        font-size: 1.4rem; }
      .card__price-value {
        font-weight: 100;
        font-size: 4rem;
        margin-bottom: 1rem; } }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  transform: skewX(-12deg); }
  @media only screen and (max-width: 56.25em) {
    .story {
      width: 100%;
      padding: 4rem;
      transform: skewX(0); } }
  .story__shape {
    height: 15rem;
    width: 15rem;
    float: left;
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%); }
    @media only screen and (max-width: 56.25em) {
      .story__shape {
        transform: translateX(-1rem) skewX(0); } }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    opacity: 0;
    transition: all .5s;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.7rem; }
  .story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all .5s; }
  .story__text {
    font-size: 1.6rem;
    transform: skewX(12deg); }
    @media only screen and (max-width: 56.25em) {
      .story__text {
        transform: skewX(0); } }
  .story:hover .story__caption {
    transform: translate(-50%, -50%);
    opacity: 1; }
  .story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
  opacity: .15; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  border: none;
  padding: 1.5rem 2rem;
  border-radius: 3px;
  background-color: #fff;
  width: 90%;
  display: block;
  border-bottom: 3px solid transparent;
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  transition: all .2s; }
  @media only screen and (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3);
    border-bottom: 3px solid #55c57a; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }
  @media only screen and (max-width: 56.25em) {
    .form__radio-group {
      display: block;
      width: 100%; }
      .form__radio-group:not(:last-child) {
        margin-bottom: 2rem; } }

.form__input-radio {
  display: none; }

.form__label-radio {
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem;
  font-family: inherit;
  color: inherit;
  font-size: 1.6rem; }

.form__button-radio {
  height: 3rem;
  width: 3rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -.4rem;
  left: 0; }
  .form__button-radio::after {
    content: "";
    display: block;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    background-color: #55c57a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .2s; }

.form__input-radio:checked ~ .form__label-radio .form__button-radio::after {
  opacity: 1; }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.9);
  z-index: 2500;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
      background-color: rgba(51, 51, 51, 0.6);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px); } }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    width: 75%;
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
    display: table;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all .5s .1s; }
    @media only screen and (max-width: 56.25em) {
      .popup__content {
        width: 90%; } }
  .popup__left {
    width: 33.333333%;
    display: table-cell; }
    @media only screen and (max-width: 37.5em) {
      .popup__left {
        width: 100%;
        display: table-row; } }
  .popup__img {
    display: block;
    width: 100%; }
    @media only screen and (max-width: 37.5em) {
      .popup__img {
        width: 50%;
        display: inline-block; } }
  .popup__right {
    width: 66.666666%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 4rem; }
    @media only screen and (max-width: 37.5em) {
      .popup__right {
        width: 100%;
        padding: 2rem 3rem; } }
  .popup__text {
    font-size: 1.4rem;
    column-count: 2;
    column-gap: 2rem;
    column-rule: 1px solid #eee;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    position: absolute;
    top: 3rem;
    right: 3rem;
    font-size: 3rem;
    text-decoration: none;
    line-height: 1;
    color: #777;
    display: inline-block;
    transition: all .2s; }
  .popup__close:hover, .popup__close:active {
    color: #55c57a; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero-small.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), only screen and (min-width: 125em) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg); } }
  @media only screen and (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 4rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4)  + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4)  + 2 * (6rem)); }

.footer {
  background-color: #333;
  padding: 10rem 0; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__logo-wrap {
    text-align: center;
    height: 12rem;
    width: auto;
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__logo-wrap {
        margin-bottom: 6rem; } }
  .footer__logo {
    height: 100%;
    object-fit: cover; }
  .footer__nav {
    padding-top: 2rem;
    border-top: 0.5px solid #777;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .footer__nav {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.4rem;
    color: #f7f7f7;
    display: inline-block;
    background-color: #333;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__text {
    padding-top: 2rem;
    border-top: 0.5px solid #777;
    float: right;
    color: #f7f7f7;
    font-size: 1.4rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__text {
        float: none;
        width: 100%;
        text-align: center; } }

.nav__checkbox {
  display: none; }

.nav__button {
  height: 7rem;
  width: 7rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  text-align: center;
  cursor: pointer;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000; }
  @media only screen and (max-width: 56.25em) {
    .nav__button {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .nav__button {
      top: 3rem;
      right: 3rem; } }

.nav__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-image: radial-gradient(#7ed56f, #28b485);
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1); }
  @media only screen and (max-width: 56.25em) {
    .nav__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .nav__background {
      top: 3.5rem;
      right: 3.5rem; } }

.nav__wrap {
  opacity: 0;
  width: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6); }

.nav__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.nav__item {
  margin: 1rem; }

.nav__link:link, .nav__link:visited {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  transition: all .4s; }

.nav__link:hover, .nav__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem); }

.nav__checkbox:checked ~ .nav__background {
  transform: scale(80); }

.nav__checkbox:checked ~ .nav__wrap {
  display: block;
  opacity: 1;
  width: 100%; }

.nav__icon {
  position: relative;
  margin-top: 2.5rem; }
  .nav__icon, .nav__icon::before, .nav__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .nav__icon::before, .nav__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .nav__icon::before {
    top: -.8rem; }
  .nav__icon::after {
    top: .8rem; }

.nav__button:hover .nav__icon::before {
  top: -1rem; }

.nav__button:hover .nav__icon::after {
  top: 1rem; }

.nav__checkbox:checked + .nav__button .nav__icon {
  background-color: transparent; }

.nav__checkbox:checked + .nav__button .nav__icon::before {
  top: 0;
  transform: rotate(135deg); }

.nav__checkbox:checked + .nav__button .nav__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
  @media only screen and (max-width: 56.25em) {
    .section-about {
      padding: 20rem 0; } }

.section-features {
  padding: 20rem 0;
  margin-top: -7rem;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../../img/nat-4-small.jpeg);
  background-size: cover;
  transform: skewY(-6deg); }
  @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
    .section-features {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../../img/nat-4.jpg); } }
  .section-features > * {
    transform: skewY(6deg); }
  @media only screen and (max-width: 56.25em) {
    .section-features {
      padding: 10rem 0; } }

.section-tours {
  padding: 20rem 0 10rem 0;
  background-color: #f7f7f7;
  margin-top: -7rem; }
  @media only screen and (max-width: 56.25em) {
    .section-tours {
      padding: 15rem 0 5rem 0; } }

.section-stories {
  padding: 15rem 0;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .section-stories {
      padding: 10rem 0; } }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
  @media only screen and (max-width: 56.25em) {
    .section-book {
      padding: 10rem 0; } }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 75em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 60%, transparent 60%), url(../img/nat-10.jpg);
      background-size: cover; } }
  @media only screen and (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(../img/nat-10-small.jpeg); } }
  .book__form {
    width: 50%;
    padding: 6rem; }
    @media only screen and (max-width: 75em) {
      .book__form {
        width: 60%; } }
    @media only screen and (max-width: 56.25em) {
      .book__form {
        width: 100%; } }
